In [1]:
from learnlibs.preproc import *
from learnlibs.meanfill import *
from learnlibs.model import *
from learnlibs.read_data import *
from learnlibs.featuretransf import *

In [2]:
df = loader("Levels_Fyi_Salary_Data.csv")
train, test = df.split()
print(f'{train.shape, test.shape}')

((43849, 28), (18793, 28))

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18793 entries, 11/15/2020 15:08:13 to 7/18/2021 13:44:14
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company                  18793 non-null  object
 1   level                    18751 non-null  object
 2   title                    18793 non-null  object
 3   totalyearlycompensation  18793 non-null  int64
 4   location                 18793 non-null  object
 5   yearsofexperience        18793 non-null  float64
 6   yearsatcompany           18793 non-null  float64
 7   tag                      18510 non-null  object
 8   basesalary               18793 non-null  float64
 9   stockgrantvalue          18793 non-null  float64
 10  bonus                    18793 non-null  float64
 11  gender                   12981 non-null  object
 12  otherdetails             12013 non-null  object
 13  cityid                   18793 non-null  int64
 14  dmaid                    18793 non-null  float64
 15  rowNumber                18793 non-null  int64
 16  Masters_Degree           18793 non-null  int64
 17  Bachelors_Degree         18793 non-null  int64
 18  Doctorate_Degree         18793 non-null  int64
 19  Highschool               18793 non-null  int64
 20  Some_College             18793 non-null  int64
 21  Race_Asian               18793 non-null  int64
 22  Race_White               18793 non-null  int64
 23  Race_Two_Or_More         18793 non-null  int64
 24  Race_Black               18793 non-null  int64
 25  Race_Hispanic            18793 non-null  int64
 26  Race                     6755 non-null   object
 27  Education                9070 non-null   object
dtypes: float64(6), int64(13), object(9)
memory usage: 4.2+ MB

In [4]:
dir(nan_filler)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fill_means']

In [5]:
a=nan_filler(test)
a.fill_unavailable(['Race'])

AttributeError: 'nan_filler' object has no attribute 'fill_unavailable'

In [ ]:
nan_filler(test).fill_unavailable(['Race', 'Education'])

AttributeError: 'nan_filler' object has no attribute 'fill_unavailable'

In [ ]:
train = nan_dropper(train).drop_nan(['otherdetails', 'Race', 'Education'])
test = nan_dropper(test).drop_nan(['otherdetails', 'Race', 'Education'])

In [ ]:
test = nan_filler(test).fill_means(['otherdetails', 'Race', 'Education'])