In [1]:
from src.learnlibs.preproc import *
from src.learnlibs.meanfill import *
from src.learnlibs.model import *
from src.learnlibs.read_data import *
from src.learnlibs.featuretransf import *

ModuleNotFoundError: No module named 'learnlibs'

In [6]:
df = loader("Levels_Fyi_Salary_Data.csv")
train, test = df.split()
print(f'{train.shape, test.shape}')

((43849, 28), (18793, 28))

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62642 entries, 6/7/2017 11:33:27 to 1/29/2019 5:12:59
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company                  62637 non-null  object
 1   level                    62523 non-null  object
 2   title                    62642 non-null  object
 3   totalyearlycompensation  62642 non-null  int64
 4   location                 62642 non-null  object
 5   yearsofexperience        62642 non-null  float64
 6   yearsatcompany           62642 non-null  float64
 7   tag                      61788 non-null  object
 8   basesalary               62642 non-null  float64
 9   stockgrantvalue          62642 non-null  float64
 10  bonus                    62642 non-null  float64
 11  gender                   43102 non-null  object
 12  otherdetails             40137 non-null  object
 13  cityid                   62642 non-null  int64
 14  dmaid                    62640 non-null  float64
 15  rowNumber                62642 non-null  int64
 16  Masters_Degree           62642 non-null  int64
 17  Bachelors_Degree         62642 non-null  int64
 18  Doctorate_Degree         62642 non-null  int64
 19  Highschool               62642 non-null  int64
 20  Some_College             62642 non-null  int64
 21  Race_Asian               62642 non-null  int64
 22  Race_White               62642 non-null  int64
 23  Race_Two_Or_More         62642 non-null  int64
 24  Race_Black               62642 non-null  int64
 25  Race_Hispanic            62642 non-null  int64
 26  Race                     22427 non-null  object
 27  Education                30370 non-null  object
dtypes: float64(6), int64(13), object(9)
memory usage: 13.9+ MB

In [14]:
a=nan_filler(test)
a.fill_unavailable()

AttributeError: 'nan_filler' object has no attribute 'fill_unavailable'

In [9]:
nan_filler(test).fill_unavailable(['Race', 'Education'])

AttributeError: 'nan_filler' object has no attribute 'fill_unavailable'

In [ ]:
train = nan_dropper(train).drop_nan(['otherdetails', 'Race', 'Education'])
test = nan_dropper(test).drop_nan(['otherdetails', 'Race', 'Education'])

In [ ]:
test = nan_filler(test).fill_means(['otherdetails', 'Race', 'Education'])