In [2]:
#Importing packages
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import missingno as msno

In [3]:
# read data 
df_full = pd.read_csv('Levels_Fyi_Salary_Data.csv', parse_dates=['timestamp'])
print(df_full.shape)

df_full.sample(5).T

(62642, 29)

,33098,34747,35361,31676,62111
timestamp,2020-10-18 11:32:29,2020-11-06 16:42:45,2020-11-16 17:25:21,2020-10-02 15:08:58,2019-05-01 11:59:38
company,ServiceNow,Etsy,Amazon,Goldman Sachs,Amazon
level,IC2,IC3-2,L4,Analyst,L6
title,Software Engineer,Software Engineer,Software Engineer,Software Engineer,Software Engineer
totalyearlycompensation,30000,360000,152000,22000,320000
location,"Hyderabad, AP, India","San Francisco, CA","Seattle, WA","Bangalore, KA, India","New York, NY"
yearsofexperience,3,6,1,3,15
yearsatcompany,3,4,1,1,4
tag,Full Stack,Distributed Systems (Back-End),Distributed Systems (Back-End),Distributed Systems (Back-End),Data Engineer
basesalary,20000,170000,112000,20000,156000
stockgrantvalue,8000,172000,25000,0,160000
bonus,2000,23000,15000,2000,0
gender,Male,Female,Male,Female,NaN
otherdetails,"Title: Software Engineer, Race: Asian, Academi...","Title: Senior Software Engineer, Race: White, ...","Title: Software Development Engineer, Race: Hi...","Race: Asian, Academic Level: Bachelorâ€™s degree",NaN
cityid,6453,7419,11527,4058,10182
dmaid,0,807,819,0,501
rowNumber,45622,47843,48677,43687,8299
Masters_Degree,0,0,1,0,0
Bachelors_Degree,1,1,0,1,0
Doctorate_Degree,0,0,0,0,0
Highschool,0,0,0,0,0
Some_College,0,0,0,0,0
Race_Asian,1,0,0,1,0
Race_White,0,1,0,0,0
Race_Two_Or_More,0,0,0,0,0
Race_Black,0,0,0,0,0
Race_Hispanic,0,0,1,0,0
Race,Asian,White,Hispanic,Asian,NaN
Education,Bachelor's Degree,Bachelor's Degree,Master's Degree,Bachelor's Degree,NaN

In [4]:
from learnlibs.preproc import *
from learnlibs import *

In [5]:
# df_pre=remove_nan()

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import GridSearchCV
from learnlibs.model import *
# rf = RandomForestClassifier()
clf2 = RandomForestRegressor(random_state=0)  
hyperparams = {'n_estimators': 20,
               'max_features': 'auto',
               'max_depth': 7,
               'min_samples_split': 5,
               'min_samples_leaf': 5 }
# Training the model on the train set
target = ['basesalary']
X_cols = ['yearsofexperience','yearsatcompany'
        ]


mod = model(df_full, clf2, X_cols, target, hyperparams)

# Predicting salary

test_pred = mod.predict(test_feats)

test_feats['test_pred'] = test_pred.tolist()

/home/djtom/bse/.venv/lib/python3.8/site-packages/learnlibs/model.py:21: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.model = self.model.fit(X_train, y_train)
/home/djtom/bse/.venv/lib/python3.8/site-packages/sklearn/ensemble/_forest.py:416: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

NameError: name 'test_feats' is not defined