In [1]:
from src.learnlibs.dropna import *
from src.learnlibs.meanfill import *
from src.learnlibs.model import *
from src.learnlibs.read_data import *
from src.learnlibs.transf import *

In [10]:
df_test = pd.DataFrame(np.random.randn(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'],
                  columns=['one', 'two', 'three'])

rows = pd.Series([True, False, False, False, True], index = df_test.index)

In [11]:
df_test.loc[rows, df_test.columns.difference(['two'])] = np.nan

In [8]:

log_tf = log_transform(df_test, ['two'])
log_tf = log_tf.apply_transform()


df_test['two'] = log_tf
df_test

/Users/lucascosta/opt/anaconda3/envs/hw5_computingds/lib/python3.9/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

        one       two     three
a       NaN       NaN       NaN
b  0.313162 -0.446480 -0.086744
c  0.002938       NaN -0.227456
d -0.380477 -3.098796  1.332976
e       NaN -0.990936       NaN

In [3]:
df = loader("Levels_Fyi_Salary_Data.csv").load()
train, test = loader("Levels_Fyi_Salary_Data.csv").split()
print(f'{train.shape, test.shape}')

((43849, 28), (18793, 28))

In [4]:


train = nan_dropper(train).drop_nan(['age', 'gender', 'ethnicity'])
test = nan_dropper(test).drop_nan(['age', 'gender', 'ethnicity'])

KeyError: ['age', 'ethnicity']